.exercise-box {
  border: 2px solid #377edb;
  padding: 10px;
  margin: 15px 0;
  border-radius: 5px;
}

.important-box {
  border: 2px solid #f10713;
  padding: 10px;
  margin: 15px 0;
  border-radius: 5px;
}

.exercise-box h3 {
  margin-top: 0;
  color: #1b26ed;
  display: flex;
  align-items: center;
}

.important-box h3 {
  margin-top: 0;
  color: #d70e11;
  display: flex;
  align-items: center;
}

.exercise-box h3 .fas,
.important-box h3 .fa-solid {
  margin-right: 10px;
}